{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>Block Giving</title>
	<!-- Bootstrap -->
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
	<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
	<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>

<body>
	<header class="site-header">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="row">
					<div class="col-sm-3 navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
						 aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="../">
							<p style="font-size:1em; font-weight:500; color:blue; 'IM Fell Great Primer'">BlockGiving</p>
						</a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="col-sm-9 headr-nav">
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						</div>
						<!-- /.navbar-collapse -->
					</div>
				</div>
			</div>
			<!-- /.container-fluid -->
		</nav>
	</header>
	<section class="site-content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3 leftside-content">
					<div class="leftside-content-inner">
						<h3 class="section-title">Connected to
							<br/>Ethereum Rinkeby Testnet</h3>
						<p class="section-summry">A self-perpetuating,
							<br/> decentralized, cross-borders,
							<br/> Giving Platform</p>
					</div>
				</div>
				<div class="col-sm-6 rightside-content">
					<div class="rightside-content-inner">
						<div class="sectionheadings">
							<div class="row">
								<h3 class="col-sm-8 section-heding">All Causes</h3>
								<h4 class="col-sm-4 creatprjct">
									<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createProjectModal">
										<i class="fa fa-plus" aria-hidden="true"></i> Create a cause</button>
								</h4>
							</div>

							<!-- Modal -->
							<div class="modal fade" id="createProjectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<div class="row">
												<div class="col-xs-11">
													<h5 class="modal-title" id="exampleModalLabel">Create a new cause </h5>
												</div>
												<div class="col-xs-1">
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
											</div>
										</div>
										<div class="modal-body">
											<form class="form-horizontal">
												<div class="form-group">
													<div class="col-xs-4">
														<label for="projectName" class="control-label">Cause Title</label>
													</div>
													<div class="col-xs-8">
														<input type="text" class="form-control" id="projectName" placeholder="Enter a name for the Cause">
													</div>
												</div>
												<div class="form-group">
													<div class="col-xs-4">
														<label for="projectDescription" class="control-label">Cause Brief</label>
													</div>
													<div class="col-xs-8 projectDes">
														<input type="text" class="form-control" id="projectDescription" placeholder="Describe what needs to be done in few lines">
													</div>
												</div>
												<div class="form-group">
													<div class="col-xs-4">
														<label for="projectFunds" class="control-label">Cause Funds(ETH)</label>
													</div>
													<div class="col-xs-4">
														<input type="text" class="form-control" id="projectFunds">
													</div>
												</div>
												<div class="form-group">
												</div>
												<div class="form-group">
													<div class="col-xs-4">
														<label for="yourName" class="control-label">Your name</label>
													</div>
													<div class="col-xs-8">
														<input type="text" class="form-control" id="yourName" placeholder="Your Name">
														<span>
															<span id="name" class="main-addtress"></span>
														</span>
													</div>
												</div>
											</form>
										</div>
										<div class="modal-footer">
											<button id="startProject" type="button" class="btn btn-primary">Submit</button>
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="ongoing-projectlinks">
							<div class="project-links">
								<div class="tabbable">
									<ul class="nav nav-tabs">
										<li class="active">
											<a href="#allprojects" data-toggle="tab" aria-expanded="false">All Projects</a>
										</li>
									</ul>
									<div class="tab-content">
										<div class="tab-pane active" id="allprojects">
											<!-- starting of dom -->
											
											<!-- dom end -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>





	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="{% static 'js/custom-jquey.js' %}"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<!--script src="{% static 'js/bootstrap.min.js' %}"></script>-->

	<script>
		$(document).ready(function () {
			var csrf_token = '{{ csrf_token }}';
			//contains logic for colony smart contracts
 			var crowdfundContract = web3.eth.contract([{"constant":true,"inputs":[{"name":"_fundId","type":"uint256"}],"name":"getFundStatus","outputs":[{"name":"_total_ether","type":"uint256"},{"name":"_ether_raised","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":false,"inputs":[{"name":"_volunteer_address","type":"address"},{"name":"_fundId","type":"uint256"}],"name":"give_payout","outputs":[{"name":"","type":"bool"}],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":false,"inputs":[{"name":"_fundId","type":"uint256"},{"name":"_total_ether","type":"uint256"}],"name":"fund","outputs":[{"name":"","type":"bool"}],"payable":true,"stateMutability":"payable","type":"function"},{"inputs":[],"payable":false,"stateMutability":"nonpayable","type":"constructor"}]);
			var crowdfundContractAddress = '0xfa93528582c1b41f8870054718afed6fd11a3e3e';
			$('#ethAddress').text(web3.eth.accounts[0]);
			
			
			//index js functions below
			
			$.get('api/v1/getProjects/', function(data){
				console.log(data);
				data.forEach(function(domainData){
					crowdfundContract.at(crowdfundContractAddress).getFundStatus(domainData.domainId, function(err, data){
						if(err){console.error(err)}
						else{
							$('#allprojects').append(
								'<div class="allprojects-main">' +
									'<div class="row">' +
										'<div class="col-sm-2 proj-img-main">' +
											'<figure><img src="images/logo.png" alt="img" style="padding-top: 25px;"></figure>' +
										'</div>' +
										'<div class="col-sm-8 proj-detail">' +
											'<h3 class="title">' + domainData.projectTitle + '</h3>' +
											'<p class="subtitle">' + domainData.projectBrief +'</p>' +
											'<h4 class="proj-tags-main">' +
												'<span class="tag-text">Cause Fund(ETH): ' +
												'<strong>' + web3.fromWei(data[1].toString()) + '/' + web3.fromWei(data[0].toString()) + '</strong>' +//display same from smart contract pot balance
									'</span>' +
								'</h4>' +
							'</div>' +
							'<div class="col-sm-2 Contributelink-main">' +
								'<button type="button" id="' + domainData.domainId + '">Donate</button>' +
							'</div>' +
						'</div>' +
					'</div>'
)
						}
					})
				})
			})
			$('#startProject').on('click', function () {

				$.get('api/v1/getProjects/', function(data){

					var totalCause = data.length;

					console.log(parseInt(totalCause));

					crowdfundContract.at(crowdfundContractAddress).fund(parseInt(totalCause) + 101, web3.toWei($('#projectFunds').val()), function(err, data){
					if(err){
						console.error(err);
					}else{
						$.post('api/v1/createProject/', {
									projectTitle : $('#projectName').val(),
									projectBrief: $('#projectDescription').val(),
									domainId : parseInt(totalCause) + 101,
									creatorAddress : web3.eth.accounts[0],
									creatorName : $('#yourName').val(),
									txnhash : data.toString(),
									csrfmiddlewaretoken : csrf_token
								}).then(function(){
									alert('new project created!');
									location.reload();
						})
					}
				})
				})
			})

		});
	</script>

</body>

</html>